<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Photos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="/styles.css">
  <!-- <link rel="stylesheet" href="/gallery.css"> -->
</head>
<body>
  <div id="content">
    <nav class = "code">
      <a href="/">~</a> /
      <a href="/photos/">photos</a> /
    </nav>
    <h2>Travels</h2>
    <h3>Summer 2025</h3>
    <p>
    In 2025, I spent the summer after my Master's degree travelling with friends, family, and alone.
    <a href="/photos/summer-2025.html">Here's a larger collection of photos</a> from the trip,
    with some captions and narration.
    </p>
    <div class="gallery-grid">
      <a href="/images/siem-reap-1.jpeg">
        <img src="/images/thumbs/siem-reap-1.jpeg">
      </a>

      <a href="/images/luang-prabang-5.jpeg">
        <img src="/images/thumbs/luang-prabang-5.jpeg">
      </a>

      <a href="/images/bali-1.jpeg">
        <img src="/images/thumbs/bali-1.jpeg">
      </a>

      <a href="/images/bali-2.jpeg">
        <img src="/images/thumbs/bali-2.jpeg">
      </a>

      <a href="/images/thailand-1.jpeg">
        <img src="/images/thumbs/thailand-1.jpeg">
      </a>

      <a href="/images/perhentian-1.jpeg">
        <img src="/images/thumbs/perhentian-1.jpeg">
      </a>

      <a href="/images/ha-giang-3.jpeg">
        <img src="/images/thumbs/ha-giang-3.jpeg">
      </a>

      <a href="/images/vang-vieng-1.jpeg">
        <img src="/images/thumbs/vang-vieng-1.jpeg">
      </a>
    </div>
  </div>
</body>
</html>
