/* Reset body margin and padding */
body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack children vertically */
    height: 100vh; /* Set body height to viewport height */
    align-items: center;
}

a {
    color: #8a3b3c;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color:#e45649;
}

a.selected {
    text-decoration: none;
    font-weight: bold;
}

a.menu {
    text-decoration: none;
}
ul {
    list-style: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
}

li {
    position: relative; /* Enable positioning for pseudo-element */
    padding-left: 40px; /* Space for the custom bullet */
    padding-top: 7px;
}

li::before {
    content: ">"; /* Use > as the bullet symbol */
    position: absolute; /* Position it to the left of the text */
    left: 0; /* Align to the left padding */
    color: #e45649; /* Customize color if desired */
    font-weight: bold;
}

hr {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #c6c7c7;
}

/* Terminal div */
#terminal {
    flex: 1; /* Take up as much space as possible */
    width: 100%;
    max-width: 800px;
    background-color: #fafafa;
    color:#383a42;
    font-weight: bold;
    font-family: "Iosevka Web", monospace; /* Monospaced font */
    font-size: 10px; /* Adjust as needed */
    line-height: 1.5; /* Adjust for spacing */
    overflow: hidden; /* Prevent scrolling */
    box-sizing: border-box; /* Ensure padding doesn’t add to width */
    white-space: pre; /* Preserve newlines and spaces exactly */
}

/* Content below the terminal */
#content {
    padding: 20px;
    background-color: #fafafa;
    color: #383a42;
    font:14px/1.5 "Iosevka Web", monospace;
    width: 100%; /* Prevent the content from exceeding the viewport width */
    max-width: 800px;
    box-sizing: border-box; /* Include padding in the width */
}

.pinterest-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}

.pinterest-container em {
    margin-bottom: 10px; /* Add spacing below the widget */
    font-style: italic; /* Keeps the emphasis */
    color: #c6c7c7; /* Optional: Slightly muted color */
}
