details > summary {
    list-style-type: '⊢ ️';
}

details[open] > summary {
    list-style-type: '⊤ ';
}
body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Libertinus Serif";
    font-size: 16px;
    line-height: 1.5;
    color: #383a42;
}

/* Headings */
h1, h2, h3 {
    font-family: "Libertinus Sans";
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    font-weight: 600;
}

/* Improve spacing between paragraphs explicitly */
p {
    margin: 1em 0;
}

/* Lists (fix condensed bullet points) */
ul, ol {
    margin: 1.2em 0;
    padding-left: 1.6em;
}

li {
    margin: 0.4em 0; /* THIS is the key fix */
}

/* Links */
a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    text-decoration-thickness: 2px;
}

hr {
    margin: 32px 0;
    border: none;
    border-top: 1px solid #c6c7c7;
}

/* Hero Section */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    max-width: 800px;
    align-items: center;
}

/* Terminal div inside hero */
#terminal {
    flex: 1; /* fills available space above header */
    background-color: #fafafa;
    color: #383a42;
    font-weight: bold;
    font-size: 10px;
    line-height: 1.5;
    overflow: hidden;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center; /* optional: vertically center content */
    box-sizing: border-box;
    font-family: "Inconsolata", monospace
}

/* Header */
#header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 85%;
}

#header h1 {
    margin: 0;
}

/* Page Content */
#content {
    max-width: 680px;
    width: 85%;
    padding-bottom: 30px;
}

summary {
    font-family: "Libertinus Sans";
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

details > summary {
    list-style-type: '⊢ ';
}

details[open] > summary {
    list-style-type: '⊤ ';
}

.code {
    font-family: "Inconsolata";
}
